/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-black: black;
  --color-white: white;
  --color-azul: #B7CDE4;
  --fuente-lilita: "Lilita One", sans-serif;
  --fuente-reboto: "Roboto Serif", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuente-lilita);
  background-image: url(/assets/fontAll.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/*Header*/
.header__h1 {
  display: grid;
  place-items: center;
  padding: 1rem;
  font-size: 5rem;
}


/*Main*/
.main{
  display: grid;
  place-items: center;
}

.main__section{
  border-radius: 2rem;
  background-color: var(--color-azul);
  padding: 1rem;
  width: 30%;
}
 .main__section__form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

.main__section__form__div {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.main__section__form__input{
  font-family: var(--fuente-lilita);
  padding: 0.3rem;
  font-size: 1.5rem;
border-radius: 0.5rem;
border: none;
}

.main__section__form__button{
  font-family: var(--fuente-lilita);
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 1rem;
}