/*Fuente*/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-black: black;
  --color-white: white;
  --fuente-lilita: "Lilita One", sans-serif;
  --fuente-reboto: "Roboto Serif", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fuente-lilita);
  background-image: url(/assets/fondoPrueba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

/*Header*/
.header {
  display: grid;
  place-items: center;
}

.header__h1 {
  padding: 1rem;
  font-size: 4rem;
}

/*Main*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section {
  border-radius: 2rem;
  background-color: rgba(10, 48, 80, 0.5);
  padding: 2rem;
  width: auto;
  height: auto;
  
}

.main__section__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.main__section__form label {
  font-size: 4rem;
}
/*Input*/
.main__section__form__input {
  color: var(--color-black);
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  font-size: 1.5rem;
  font-family: var(--fuente-lilita);
}

.main__section__form__input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

/*Button*/

.main__section__form__button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 1.5em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.5em;
  color: #0f0c29;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.main__section__form__button p {
  z-index: 1;
}

.main__section__form__button:hover {
  color: #212121;
}

.main__section__form__button:active {
  border-color: teal;
}

.main__section__form__button::after,
.main__section__form__button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.main__section__form__button::before {
  left: 0;
  transform: translateX(-8em);
}

.main__section__form__button::after {
  right: 0;
  transform: translateX(8em);
}

.main__section__form__button:hover:before {
  transform: translateX(-1em);
}

.main__section__form__button:hover:after {
  transform: translateX(1em);
}

.main__section__form__button:active:before,
.main__section__form__button:active:after {
  background: teal;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: center;
}

/* From Uiverse.io by G4b413l */
.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}
